.editor {
  background-color: #1e1e1e;
  background-image: url(../../assets/images/bg-code.png);
  background-repeat: no-repeat;
  color: #ababab;
  overflow: hidden;
  box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 600px) {
  .editor {
    border-radius: 0.5em;
  }
}
.editor__title-bar {
  color: #ffffff;
  font-size: 0.8em;
  padding: 0.55em 1em;
  background-color: #2a2a2a88;
  z-index: 1;
}

.editor__icon {
  color: #e0e000;
  display: inline-block;
  padding-top: 0.15em;
  padding-right: 0.5em;
  font-size: 0.75em;
  vertical-align: top;
}

.editor__body {
  display: flex;
  flex-direction: row;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  overflow-x: overlay;
  overflow-y: visible;
}
