.editor__text-area {
  z-index: 1;
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  caret-color: #d4d4d4;
  width: 100%;
}
.editor__text-area * {
  white-space: pre;
}
.editor__scope {
  border-left: 1px solid rgb(65, 65, 65);
  padding-left: 1em;
  white-space: nowrap;
}
.key {
  color: #dff4ffdd;
  text-shadow: 0 0 0.2em #00a7ffaa; /* #9cdcfe; */
}
.editor__delimiter {
  color: #ebebebdd;
  text-shadow: 0 0 0.2em #d4d4d4aa; /* d4d4d4 */
}
.string {
  color: #dfc8bfdd;
  text-shadow: 0 0 0.2em #ff4a03aa; /* #ce9178 */
}
.number {
  color: #ecfee2dd;
  text-shadow: 0 0 0.2em #59ff00aa; /* b5cea8 */
}
.boolean {
  color: #c2e3ffdd;
  text-shadow: 0 0 0.2em #008cffaa; /* 569cd6 */
}
.bracket0 {
  color: #ffed89dd;
  text-shadow: 0 0 0.2em #ffd700aa; /* ffd700 */
}
.bracket1 {
  color: #eebbeadd;
  text-shadow: 0 0 0.2em #ff00f7aa; /* da70d6 */
}
.bracket2 {
  color: #64bbf9dd;
  text-shadow: 0 0 0.2em #0095ffaa; /* 179fff */
}
.highlighted {
  background-color: #fff3; /* #474747 */
  box-shadow: 0 0 0.1em #646464;
}

a {
  text-decoration: underline;
  -moz-user-modify: read-only;
  -webkit-user-modify: read-only;
}
