.editor__text-area {
  z-index: 1;
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  caret-color: #d4d4d4;
  max-width: 40em;
  margin-left: 4em;
  padding-bottom: 100%;
}
.editor__scope {
  border-left: 1px solid rgb(65, 65, 65);
  padding-left: 1em;
}
.key {
  color: #dff4ffff;
  text-shadow: 0 0 0.2em #00a7ffff; /* #9cdcfe; */
}
.editor__delimiter {
  color: #ebebebff;
  text-shadow: 0 0 0.2em #d4d4d4ff; /* d4d4d4 */
}
.string {
  color: #dfc8bfff;
  text-shadow: 0 0 0.2em #ff4a03ff; /* #ce9178 */
}
.number {
  color: #ecfee2ff;
  text-shadow: 0 0 0.2em #59ff00ff; /* b5cea8 */
}
.boolean {
  color: #c2e3ffff;
  text-shadow: 0 0 0.2em #008cffff; /* 569cd6 */
}
.bracket0 {
  color: #ffed89ff;
  text-shadow: 0 0 0.2em #ffd700ff; /* ffd700 */
}
.bracket1 {
  color: #eebbeaff;
  text-shadow: 0 0 0.2em #ff00f7ff; /* da70d6 */
}
.bracket2 {
  color: #64bbf9ff;
  text-shadow: 0 0 0.2em #0095ffff; /* 179fff */
}
.highlighted {
  background-color: #fff3; /* #474747 */
  box-shadow: 0 0 0.1em #646464;
}

a {
  color: inherit;
  text-decoration: underline;
  -moz-user-modify: read-only;
  -webkit-user-modify: read-only;
}

.cursor {
  color: #fff;
  text-shadow: 0.1em 0 0.1em #ff44ff, -0.1em 0 0.1em #00ff33, 0 0 0.5em #fff;
  /* text-shadow: 0 0 0.5em greenyellow; */
}
.editor__text-area span {
  transition-property: color, text-shadow;
  transition-duration: 0.5s;
}
*:has(> .being-typed) {
  color: #fff;
  text-shadow: 0.1em 0 0.1em #ff44ff, -0.1em 0 0.1em #00ff33, 0 0 0.5em #fff;
}

.dot {
  position: absolute;
  left: 0;
  width: 3em;
  text-align: right;
  text-shadow: 0 0 0.1em #888;
  -moz-user-modify: read-only;
  -webkit-user-modify: read-only;
}
