.backgroundVideo {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.backgroundVideo.particles {
  opacity: 0.25;
}
.backgroundVideo.cyberpunk {
  mix-blend-mode: luminosity;
  opacity: 0.13;
}
