.numbering {
  text-align: right;
  padding: 0 1em;
  color: #aaa; /* #888 */
  text-shadow: 0 0 0.1em #888;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 1;
}
